.navbar,
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: auto;
}
.navbar{
	justify-content: flex-end;
	width: 92%;
	margin: 0 auto;
}
nav{
	position: absolute;
}
@media (min-width: 576px){
	.navbar{
		width: 95%;
	}
}
@media (min-width: 768px){
	.navbar{
		width: 96%;
	}
}
@media (min-width: 992px){
	nav{
		align-items: center;
		position: relative;
		height: 39px;
	}
}
@media (min-width: 768px){
	.navbar{
		width: 1140px;
	}
}