.navbar,
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;
	height: auto;
}
.navbar{
	justify-content: flex-end;
	width: 92%;
	margin: 0 auto;
}
.wrapperNavbar{
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	top: 32px;
	right: -4.2%;
	overflow: hidden;
}
nav{
	justify-content: flex-end;
	position: relative;
	top: 0;
	right: -100%;
	padding-right: 6.5%;
	transition: all 1s ease;
	overflow: hidden;
	background: orange;
}
nav.showNavbar{
	right: 6.5%;
}
@media (min-width: 576px){
	.navbar{
		width: 95%;
	}
}
@media (min-width: 768px){
	.navbar{
		width: 96%;
	}
}
@media (min-width: 992px){
	nav{
		align-items: center;
		position: relative;
		height: 39px;
	}
}
@media (min-width: 768px){
	.navbar{
		width: 1140px;
	}
}