.worksWrapper{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
}
.worksWrapper nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: auto;
	height: auto;
	padding: 2px 6px;
}
.worksWrapper nav a,
.worksWrapper nav span{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: auto;
	height: auto;
	color: #d5d5d5;
	font-family: 'Roboto', sans-serif;
}
.worksWrapper nav span{
	margin: 0 3px;
}
@media (min-width: 992px){
	.worksWrapper{
		width: 960px;
	}
	.worksWrapper nav{
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 1200px){
	.worksWrapper{
		width: 1140px;
	}
}