.worksWrapper{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
}
.worksWrapper nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: 170px;
	height: auto;
	padding: 2px 6px;
}
.worksWrapper nav a,
.worksWrapper nav span{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: auto;
	height: auto;
	color: #d5d5d5;
	font-family: 'Roboto', sans-serif;
}
.worksWrapper nav span{
	margin: 0 3px;
}
.categories{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	margin-top: 10px;
	padding: 0 6px;
	box-sizing: border-box;
}
.cat{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: auto;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
	text-decoration: none;
}
.cat img{
	display: block;
	position: relative;
	width: 200px;
	height: auto;
}
.cat span{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	margin: 10px 0;
	color: #d5d5d5;
}
.cat:hover{
	border-color: #acaaaa;
}
.cat:hover span{
	color: #959595;
}
@media (min-width: 992px){
	.worksWrapper{
		width: 960px;
	}
	.categories{
		justify-content: flex-start;
	}
}
@media (min-width: 1200px){
	.worksWrapper{
		width: 1140px;
	}
}