header{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background: #d5d5d5;
}
nav{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	width: 250px;
	height: auto;
	z-index: 5;
}
nav{
	justify-content: flex-end;
	position: absolute;
	top: 32px;
	right: -252px;
	border: 1px solid #000;
	border-radius: 10px;
	transition: all 1s ease;
	overflow: hidden;
}
nav.showNavbar{
	top: 32px;
	right: 0;
}
@media (min-width: 992px){
	nav,
	nav.showNavbar{
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 960px;
		height: 39px;
		margin: 0 auto;
		top: unset;
		right: unset;
	}
}
@media (min-width: 992px){
	nav,
	nav.showNavbar{
		width: 960px;
		border: none;
	}
}
@media (min-width: 1200px){
	nav,
	nav.showNavbar{
		width: 1140px;
	}
}