nav{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: auto;
	top: 43px;
	left: -100%;
	transition: left 1s ease;
	background: #d5d5d5;
}
.linkItem{
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	width: calc(100% - 13px);
	height: 50px;
	padding-left: 13px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
}
.hiddenMainPage{
	display: none;
}
.linkItem:hover{
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.linkItem:after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #fff;
	transition: width 1s ease;
}
nav .linkItem:not(:last-child){
	border-bottom: 1px solid #fff;
}
nav.showNavbar{
	left: 0;
}
@media (min-width: 992px){
	nav{
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		position: relative;
		width: 960px;
		margin: 0 auto;
		top: unset;
		left: unset;
	}
	nav.showNavbar{
		left: unset;
	}
	.linkItem{
		position: relative;
		width: auto;
		padding-left: 0;
	}

	nav .linkItem:not(:last-child){
		border-bottom: none;
	}
	.linkItem:hover:after{
		width: 100%;
	}
}
@media (min-width: 992px){
	nav{
		width: 1140px;
	}
}